source https://nuget.org/api/v2

nuget FSharp.Core 4.0.0.1

nuget System.Net.Http 4.1.0
nuget System.Threading.Tasks

nuget CsQuery 1.3.4 framework: >= net45
nuget Newtonsoft.Json 6.0.2
nuget NodaTime

group Build
  source https://nuget.org/api/v2

  nuget FAKE
  nuget SourceLink.Fake
  nuget FSharp.Formatting

  nuget Octokit
  github fsharp/FAKE modules/Octokit/Octokit.fsx

group Test
  source https://nuget.org/api/v2

  nuget FsUnit
  nuget FsUnit.xUnit
  nuget xunit
  nuget xunit.runner.console
  nuget OpenCover
  nuget Coveralls.net
  nuget AutoFixture.AutoFakeItEasy
  nuget AutoFixture.Xunit2
  nuget FakeItEasy 2.3.1