<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nap" type="Nap.Configuration.NapConfig, Nap.Configuration" allowLocation="true" allowDefinition="Everywhere" />
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="FakeItEasy" publicKeyToken="eff28e2146d5fd2c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.25.3.0" newVersion="1.25.3.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="xunit.core" publicKeyToken="8d05b1bb7a6fdb6c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.3179" newVersion="2.1.0.3179" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <nap baseUrl="http://example.com" fillMetadata="true" serialization="Xml">
    <serializers>
      <add contentType="text/html" serializerType="Nap.Html.NapHtmlSerializer, Nap.Html" />
    </serializers>
    <headers>
      <add key="testHeader" value="testHeaderValue" />
    </headers>
    <queryParameters>
      <add key="testQueryParameter" value="testQueryParameterValue" />
    </queryParameters>
    <advanced>
      <proxy address="http://example.com:8080" />
      <authentication username="jdoe" password="password123!" />
    </advanced>
    <profiles>
      <add key="foobar">
        <profile baseUrl="http://www.foobar.com" fillMetadata="false" serialization="Json">
          <headers>
            <add key="TOKEN" value="LONG_GUID" />
          </headers>
        </profile>
      </add>
    </profiles>
  </nap>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

</configuration>
