<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="nap" type="Nap.Configuration.NapConfig, Nap.Configuration, Version=0.0.0.1, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" />
	</configSections>
	<nap baseUrl="http://example.com" fillMetadata="true" serialization="Xml">
		<serializers>
			<add contentType="text/html" serializerType="Nap.Html.NapHtmlSerializer, Nap.Html" />
		</serializers>
		<headers>
			<add key="testHeader" value="testHeaderValue" />
		</headers>
		<queryParameters>
			<add key="testQueryParameter" value="testQueryParameterValue" />
		</queryParameters>
		<advanced>
			<proxy address="http://example.com:8080" />
			<authentication username="jdoe" password="password123!" />
		</advanced>
	</nap>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>
	
</configuration>
