<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section
      name="nap"
      type="Napper.Configuration.NapConfig, Nap, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
      allowLocation="true"
      allowDefinition="Everywhere"
    />
  </configSections>
  <nap baseUrl="http://example.com" fillMetadata="true" serialization="Xml">
    <!--<headers>
      <clear />
    </headers>
    <queryParameters>
      <clear />
    </queryParameters>
    <proxy address="" />
    <authentication type="Basic" username="Username" password="Password" />-->
  </nap>
</configuration>